[email]
# Адрес IMAP сервера (POP3 не поддерживается)
host =
# Имя пользователя или адрес почтового ящика
login =
# Пароль
password =
# ID последнего прочитанного письма (для случая, если необходимо отправлять прочитанные письма)
last_uid = 0

[telegram]
# Токен Telegram бота
token =
# ID чата, в который отправлять электронные письма
chat_id =

