[email]
# Адрес IMAP или POP3 сервера (в зависимости от используемого скрипта).
host =
# Имя пользователя или адрес почтового ящика
login =
# Пароль
password =
# ID последнего отправленного электронного письма (используется скриптом main_pop3.py)
last_msgnum = 0

[telegram]
# Токен Telegram бота
token = 387338626:AAHdxjE8IjMpVMqMZD2CLUav2Qrae4Av-Dg
# ID чата, в который отправлять электронные письма
chat_id = -1001287484766

