[email]
# Адрес IMAP сервера (POP3 не поддерживается)
host =
# Имя пользователя или адрес почтового ящика
login =
# Пароль
password =
# (Необязательно) ID последнего прочитанного письма (для случая, если необходимо отправлять прочитанные письма)
last_uid = 0
# (Необязательно) Режим только чтение (письма не будут отмечаться прочитанными)
read_only = False
# (Необязательно) Критерий для поиска писем (UNSEEN - новые письма, ALL - все письма)
criteria = UNSEEN

[telegram]
# Токен Telegram бота
token =
# ID чата, в который отправлять электронные письма
chat_id =

